.lobibox-notify .lobibox-notify-icon > div .icon-el {
    line-height: 1;
}
.lobibox-notify-wrapper.right {
    right: 5px;
}
.lobibox-notify-msg {
    line-height: 1.3;
    font-size: 13px;
}
.lobibox-notify-wrapper {
    opacity: 0.9;
    transition: all .2s ease-in-out;
}
.lobibox-notify-wrapper:hover {
    opacity: 1;
}
@media only screen and (max-width: 500px) {
    .lobibox-notify-msg {
        line-height: 1.2;
        font-size: 13px;
    }
    .lobibox-notify .lobibox-notify-title {
        font-size: 16px;
        line-height: 22px;
    }
    .lobibox-notify {
        max-width: calc(100% - 10px);
        min-height: auto;
    }
    .lobibox-notify .lobibox-notify-body {
        margin: 5px 11px 7px 90px;
    }
}